<a href="https://colab.research.google.com/github/Animeshsinghiit/Machine-learning-practises/blob/main/data_loading_and_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# loading iris dataset

In [2]:
from sklearn import datasets
import pandas as pd

In [ ]:
iris=datasets.load_iris()

In [ ]:
iris_data=pd.DataFrame(data=iris.data,columns=iris.feature_names)

In [ ]:
iris_data.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [ ]:
diab,target=datasets.load_diabetes(as_frame=True,return_X_y=True)

In [ ]:
diab

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

In [ ]:
diab.shape

(442, 10)

In [ ]:
type(target)

pandas.core.series.Series

In [ ]:
from sklearn.datasets import make_blobs, load_breast_cancer, fetch_california_housing

In [ ]:
X,y=make_blobs(n_samples=10,centers=3,n_features=2,random_state=42)

In [ ]:
X.shape

(10, 2)

In [ ]:
breca,target=load_breast_cancer(return_X_y=True,as_frame=True)

In [ ]:
breca.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [ ]:
breca.shape

(569, 30)

In [ ]:
target.value_counts()

1    357
0    212
Name: target, dtype: int64

In [ ]:
cal,target=fetch_california_housing(as_frame=True,return_X_y=True)

In [ ]:
cal.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [ ]:
cal.shape

(20640, 8)

In [ ]:
target.head()

0    4.526
1    3.585
2    3.521
3    3.413
4    3.422
Name: MedHouseVal, dtype: float64

In [ ]:
fetch_california_housing().feature_names

['MedInc',
 'HouseAge',
 'AveRooms',
 'AveBedrms',
 'Population',
 'AveOccup',
 'Latitude',
 'Longitude']

In [ ]:
apple=pd.read_csv('Apple_2022.csv')

In [ ]:
apple.head()

,state,district,market,commodity,variety,arrival_date,min_price,max_price,modal_price
0,Assam,Barpeta,Howly,Apple,Apple,07/02/2022,7000.0,9000.0,8000.0
1,Assam,Barpeta,Howly,Apple,Apple,09/02/2022,8000.0,10000.0,9000.0
2,Assam,Barpeta,Howly,Apple,Apple,10/02/2022,8000.0,9000.0,8500.0
3,Assam,Barpeta,Howly,Apple,Apple,11/02/2022,9000.0,10000.0,9500.0
4,Assam,Barpeta,Howly,Apple,Apple,12/02/2022,9000.0,10000.0,9500.0

In [ ]:
apple.shape

(56382, 9)

In [ ]:
apple[apple.district=='Mumbai']

,state,district,market,commodity,variety,arrival_date,min_price,max_price,modal_price
16246,Maharashtra,Mumbai,Fruit Market,Apple,Other,01/01/2022,6200.0,12000.0,9100.0
16247,Maharashtra,Mumbai,Fruit Market,Apple,Other,03/01/2022,6200.0,12000.0,9100.0
16248,Maharashtra,Mumbai,Fruit Market,Apple,Other,04/01/2022,6200.0,12000.0,9100.0
16249,Maharashtra,Mumbai,Fruit Market,Apple,Other,05/01/2022,8500.0,12000.0,10250.0
16250,Maharashtra,Mumbai,Fruit Market,Apple,Other,07/01/2022,8500.0,12000.0,10250.0
...,...,...,...,...,...,...,...,...,...
16334,Maharashtra,Mumbai,Fruit Market,Apple,Other,07/09/2022,6000.0,18000.0,12000.0
16335,Maharashtra,Mumbai,Fruit Market,Apple,Other,08/09/2022,6000.0,17000.0,11500.0
16336,Maharashtra,Mumbai,Fruit Market,Apple,Other,13/09/2022,6000.0,17000.0,11500.0
16337,Maharashtra,Mumbai,Fruit Market,Apple,Other,15/09/2022,6000.0,17000.0,11500.0
16338,Maharashtra,Mumbai,Fruit Market,Apple,Other,16/09/2022,6000.0,17000.0,11500.0

In [7]:
import pandas as pd
!pip install simpledbf
from simpledbf import Dbf5
dbf = Dbf5('gadm41_BLR_1.dbf')
df = dbf.to_dataframe()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting simpledbf
  Downloading simpledbf-0.2.6.tar.gz (17 kB)
Building wheels for collected packages: simpledbf
  Building wheel for simpledbf (setup.py) ... done
  Created wheel for simpledbf: filename=simpledbf-0.2.6-py3-none-any.whl size=13800 sha256=6f7dd4120ce3b9f6dfee652a717ab1d774364301bfbc1cc6da7534ffc126971d
  Stored in directory: /root/.cache/pip/wheels/24/43/f4/39ad84349e5358346be977fe626160f5625fdd3ea8e017518c
Successfully built simpledbf
Installing collected packages: simpledbf
Successfully installed simpledbf-0.2.6

In [8]:
df.head()

,GID_1,GID_0,COUNTRY,NAME_1,VARNAME_1,NL_NAME_1,TYPE_1,ENGTYPE_1,CC_1,HASC_1,ISO_1
0,BLR.1_1,BLR,Belarus,Brest,Брест|Brestskaya Voblasts'|Brèst,Брэсцкая,Oblast,Region,NA,BY.BR,NA
1,BLR.2_1,BLR,Belarus,Gomel,Гомель|Homyel'skaya Voblasts'|Ho,Гомельская,Oblast,Region,NA,BY.HO,NA
2,BLR.3_1,BLR,Belarus,Grodno,Гродно|Hrodzenskaya Voblasts',Гродзенская,Oblast,Region,NA,BY.HR,NA
3,BLR.5_1,BLR,Belarus,Minsk,Минск|Минская Область|Minsk Obla,Мінская,Oblast,Region,NA,BY.MI,NA
4,BLR.7_1,BLR,Belarus,Minsk,Минск|Минская Область|Minsk Obla,Мінская,City,City,NA,BY.MI,NA